<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido" *ngIf="latestTerms; else loading">
    <h1>Términos y Condiciones</h1>
    <div [innerHTML]="latestTerms.content"></div>
    <div class="centrar-bton">
      <ion-button (click)="goBack()">Volver</ion-button>
    </div>
  </div>
  <ng-template #loading>
    <p>Cargando términos y condiciones...</p>
  </ng-template>
</ion-content>
