<!-- Comentado como lo solicitaste -->
<!--<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/second-search"></ion-back-button>
    </ion-buttons>
    <ion-title>ESTACIONES</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div class="container" style="background: #31B17D !important;">
    <p class="msj-principal">
      Selecciona la capacidad de la batería de tu vehículo en kWh; opción obligatoria!
    </p>
  </div>

  <div class="container">
    <ion-item class="capacidad">
      <ion-label position="floating">Capacidad de la Batería (kWh)</ion-label>
      <ion-input
        [(ngModel)]="batteryCapacity"
        (ionInput)="searchBatteryCapacities($event)"
        type="text"
        debounce="300">
      </ion-input>
    </ion-item>

    <ion-list *ngIf="suggestedCapacities.length > 0">
      <ion-item *ngFor="let capacity of suggestedCapacities" (click)="selectCapacity(capacity)">
        {{ capacity }} kWh
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectedBattery">
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="selectedBattery.image" alt="Battery Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ selectedBattery.name }}</h2>
        <p>{{ selectedBattery.specifications }}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-accordion-group>
    <ion-accordion value="filters">
      <ion-item class="filter" slot="header">
        <ion-label>Filtros Avanzados (Opcionales)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item class="filter-item">
          <ion-label>Filtrar por Distancia</ion-label>
          <ion-select [(ngModel)]="selectedDistance" (ionChange)="filterByDistance()">
            <ion-select-option value="5">5 km</ion-select-option>
            <ion-select-option value="10">10 km</ion-select-option>
            <ion-select-option value="15">15 km</ion-select-option>
            <ion-select-option value="20">20 km</ion-select-option>
            <ion-select-option value="30">30 km</ion-select-option>
            <ion-select-option value="50">50 km</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="custom-button-filter mt-2">
          <ion-button class="mt-2" (click)="resetFilters()">Limpiar Búsqueda</ion-button>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="custom-button">
    <ion-button class="custom-button" (click)="getFilteredStations()">Buscar Cargadores</ion-button>
  </div>

  <div class="container">
    <div class="row">
      <div *ngIf="stations.length > 0">
        <h2 style="padding: 10px;">Conectores disponibles</h2>
        <ion-list>
          <ion-item class="result-station" *ngFor="let station of stations" (click)="selectStation(station)">
            <ion-label>
              <div class="icon-text">
                <img src="assets/icon/electrolineras.png" alt="Icon" class="icon">
                <h2 class="htwo">E/S. {{ station.name }} / {{ station.distance }} km</h2>
              </div>

              <div class="icon-text">
                <img style="width: 17px;" src="assets/icon/location.png" alt="Ubicación" class="icon">
                <p>
                  <span>Dirección:</span> {{ station.address }},
                  <span>Región:</span> {{ station.region }}, {{ station.commune }}
                </p>
              </div>

              <div class="mt-2 mb-2">
                <!-- Mostrar bloque de Conectores AC si hay disponibles, cargando o no disponibles -->
                <div class="icon-text" 
                     *ngIf="getConnectorStatus(station).acCount > 0 || 
                            getConnectorStatus(station).acChargingCount > 0 || 
                            getConnectorStatus(station).acUnavailableCount > 0">
                  <img src="assets/icon/iconoAC.png" alt="AC Icon" class="icon">
                  <p>Conectores AC</p>
                </div>
              </div>
              
              <!-- Mostrar bloque de Conectores DC si hay disponibles, cargando o no disponibles -->
              <div class="icon-text" 
                   *ngIf="getConnectorStatus(station).dcCount > 0 || 
                          getConnectorStatus(station).dcChargingCount > 0 || 
                          getConnectorStatus(station).dcUnavailableCount > 0">
                <img src="assets/icon/iconoDC.png" alt="DC Icon" class="icon">
                <p>Conectores DC</p>
              </div>

              <div *ngIf="getConnectorStatus(station).totalConnectors > 0">
                <div class="status-container">
                  <ng-container *ngFor="let status of getConnectorStatus(station).statusDetails">
                    <div *ngIf="status.count > 0">
                      <p [style.background-color]="status.color" class="status-pill">
                        {{ status.count }} Conectores: {{ status.label }}
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
              <ion-accordion-group [value]="accordionValue">
                <ion-accordion value="horarios">
                  <ion-item class="horarios" slot="header" (click)="stopEventAndToggleAccordion($event, 'horarios')">
                    <ion-label style="display: flex;">
                      <img src="assets/icon/hours.png" alt="Horarios" class="icon">
                      <p>Horarios:</p>
                    </ion-label>
                  </ion-item>
              
                  <div class="ion-padding" slot="content">
                    <ion-item class="show-item custom-item" (click)="stopEvent($event)">
                      <div [innerHTML]="getOpeningHours(station)"></div>
                      <div *ngIf="station.opening_times.exceptional_openings.length > 0">
                        <p>Excepcionales Aperturas: {{ getExceptionalOpenings(station) }}</p>
                      </div>
                      
                      <div *ngIf="station.opening_times.exceptional_closings.length > 0">
                        <p>Excepcionales Cierres: {{ getExceptionalClosings(station) }}</p>
                      </div>
                    </ion-item>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
              <!--<div class="icon-text">
                <img src="assets/icon/hours.png" alt="Horarios" class="icon">
                <div class="hours-container">
                  <p>Horarios:</p>
                  <div [innerHTML]="getOpeningHours(station)"></div>
                </div>
              </div>

              <div *ngIf="station.opening_times.exceptional_openings.length > 0">
                <p>Excepcionales Aperturas: {{ getExceptionalOpenings(station) }}</p>
              </div>

              <div *ngIf="station.opening_times.exceptional_closings.length > 0">
                <p>Excepcionales Cierres: {{ getExceptionalClosings(station) }}</p>
              </div>-->
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

