$colors: (
   blue:       #387ef5,
   secondary:  #31B17D,
   danger:     #f53d3d,
   light:      #f4f4f4,  
   dark:       #222,
   white:      #FFF,
);

ion-header{
    box-shadow: none;
}

ion-toolbar{
    --background: #31B17D;
    color: white !important;
}

.custom-header {
    background: #31B17D !important;
    color: white !important;
    text-align: center;
  }

  .toolbar-background  {
    background: #31B17D !important;
    color: white !important;
}

p.msj-principal{
    padding: 20px;
    height: 68px;
    align-content: center;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 30px 30px 0px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2A2A2A;
}

  
  .checkbox-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
    margin: 20px 0; /* Margen superior e inferior */
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  
  .checkbox-item ion-checkbox {
    margin-right: 5px; /* Espacio entre el checkbox y la etiqueta */
  }
  
  .checkbox-item ion-label {
    font-size: 1.2em; /* Tamaño del texto */
    color: #31B17D; /* Color del texto */
  }
  
  .search-button {
    background: transparent; /* Fondo transparente */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em; /* Tamaño del texto */
  }
  
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-list {
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  ion-item {
    --background: #fff;
    --color: #333;
  }
  
  ion-item:hover {
    --background: #255944;
    --color: #fff;
  }
  
  .filters {
    margin-top: 20px;
  }
  
  .filters h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

    /* Estilos personalizados para los botones */
ion-button {
  --width: 127px;
  --height: 40px;
  --background: #279769; /* Color de fondo */
  --color: #fff; /* Color del texto */
  --border-radius: 100px; /* Bordes redondeados */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 10px 20px; /* Espaciado interno */
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px; // Ajusta el espacio entre líneas si es necesario

  .icon {
    margin-right: 8px; // Ajusta el espacio entre el icono y el texto
    width: 24px; // Ajusta el tamaño de la imagen según sea necesario
    height: 24px; // Ajusta el tamaño de la imagen según sea necesario
  }

  h2, p {
    margin: 0; // Ajusta los márgenes para que los textos se alineen correctamente
  }
}