<app-layout>
  <ion-content [fullscreen]="true">
    <div class="container terminos">
      <div class="row">
        <div class="col-md-12">
          <h1>Términos de servicio</h1>
          <p class="terminos">
            Por favor, revisar nuestros términos y condiciones y política de privacidad si deseas saber más sobre los detalles de uso de Ecocarga.
          </p>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>
                    <p class="mi-option" (click)="openTermsModal()">Términos y condiciones</p>
                  </li>
                  <li>
                    <p class="mi-option">Política de privacidad</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 50px;">
        <div class="row">
          <div class="">
            <button class="btn-acepto" (click)="navigateToInformacionPreliminar()">HE LEÍDO Y ACEPTO</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  
  <ion-alert
    [isOpen]="showAlert"
    header="Advertencia"
    message="Debes aceptar los términos y condiciones para continuar."
    [buttons]="alertButtons"
    (didDismiss)="onAlertDismiss()">
  </ion-alert>
</app-layout>
