<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

    <!-- Contenedor para los conectores --> 
    <div class="conector-container">
   <p style="font-size: 20px;color: #FFFFFF;"><strong>Selecciona tu tipo de conector</strong></p>
      <!-- Conector Tipo 1 -->
      <div class="conector">
        <img src="assets/icon/tipo1.jpg" alt="Conector Tipo 1">
        <p>Especificaciones: Tipo 1, 220V, 16A</p>
      </div>

      <!-- Conector Tipo 2 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 2, 400V, 32A</p>
      </div>
      
      <!-- Conector Tipo 3 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 3, 400V, 32A</p>
      </div>

      <!-- Conector Tipo 4 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 4, 400V, 32A</p>
      </div>

      <!-- Conector Tipo 5 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 5, 400V, 32A</p>
      </div>

      <!-- Conector Tipo 6 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 6, 400V, 32A</p>
      </div>

      <!-- Conector Tipo 7 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 7, 400V, 32A</p>
      </div>

      <!-- Conector Tipo 8 -->
      <div class="conector">
        <img src="assets/icon/tipo2.jpg" alt="Conector Tipo 2">
        <p>Especificaciones: Tipo 8, 400V, 32A</p>
      </div>
    </div>
</ion-content>