<app-layout></app-layout>
<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title>CONECTORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="container" style="background: #31B17D !important; margin-top: -16px;">
    <p class="msj-principal">Selecciona el o los conectores disponibles en tu vehículo; opción obligatoria!</p>
  </div>
  <div class="container">
    <div class="checkbox-group">
      <div class="checkbox-item">
        <ion-checkbox slot="start" [(ngModel)]="typeAC" (ionChange)="onCheckboxChange()"></ion-checkbox>
        <ion-label>Tipo AC</ion-label>
      </div>
      <div class="checkbox-item">
        <ion-checkbox slot="start" [(ngModel)]="typeDC" (ionChange)="onCheckboxChange()"></ion-checkbox>
        <ion-label>Tipo DC</ion-label>
      </div>
    </div>
  </div>

  <div *ngIf="connectors.length > 0">
    <h2>Conectores Disponibles:</h2>
    <div *ngFor="let connector of connectors">
      <p>{{ connector.standard }}</p>
      <p>{{ connector.format }}</p>
      <p>{{ connector.power_type }}</p>
      <!-- Agrega más detalles según sea necesario -->
    </div>
  </div>

  <ion-button expand="full" (click)="confirmSelection()">Siguiente</ion-button>

  <!-- IonAlert para la confirmación -->
  <ion-alert
  [isOpen]="showAlert"
  header="¿Está seguro de su selección?"
  message="Si está seguro puede continuar con su proceso de selección de las especificaciones de su vehículo."
  [buttons]="alertButtons"
  cssClass="my-custom-class"
  (didDismiss)="onAlertDismiss()">
  </ion-alert>
</ion-content>
