<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header interno colapsable -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor explorador con espacio añadido -->
  <app-explore-container name="Tab 1 que fue"></app-explore-container>
  <div class="container" style="padding-top: 20px;">
    <div class="column column-1">
      <p>Contenido de la primera columna</p>
    </div>
    <div class="column column-2">
      <p>Contenido de la segunda columna</p>
    </div>
  </div>
</ion-content>