<ion-app>
  <ion-header *ngIf="showHeader">
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="showBackButton">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="toolbar-title">{{ pageTitle }}</ion-title>
      <ion-buttons slot="end" *ngIf="showHamburgerMenu">
        <ion-button (click)="toggleMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <div *ngIf="showMenu" class="menu-overlay" (click)="toggleMenu()"></div>
  <div class="menu-options" [class.show]="showMenu">
    <div class="menu-title-container">
      <ion-col size="12" class="icon-col" style="background-color: #31B17D; font-weight: 500;">
        <ion-label>App EcoCarga</ion-label>
      </ion-col>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="icon-col" (click)="navigateToElectrolineras()">
          <img src="/assets/icon/electrolineras.png" alt="Electrolineras" width="35px" height="38px">
          <ion-label>Electrolineras</ion-label>
        </ion-col>
        <ion-col size="12" class="icon-col" (click)="navigateTosearch()">
          <img src="/assets/icon/search.png" alt="Buscador" width="34px" height="34px">
          <ion-label>Buscador</ion-label>
        </ion-col>
        <ion-col size="12" class="icon-col" (click)="navigateTocontact()">
          <img src="/assets/icon/contact.png" alt="Contactos" width="40px" height="27px">
          <ion-label>Contacto</ion-label>
        </ion-col>
       <ion-col  size="12" class="icon-col" (click)="navigateToinformation()">
          <img src="/assets/icon/contact.png" alt="Informacion" width="40px" height="27px">
          <ion-label>Instrucciones preliminares</ion-label>
        </ion-col>
        <ion-col style="margin-top: 3rem;" size="12" class="icon-col" (click)="navigateToterminos()">
          <img src="/assets/icon/contact.png" alt="Contactos" width="40px" height="27px">
          <ion-label><strong>Terminos y condiciones</strong></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="container logo-min" style="text-align: center;">
      <div class="row">
        <img src="assets/icon/logo-min.png" width="180px" height="140px" alt="Bienvenido a nuestra aplicación">
      </div>
    </div> 
  </div>
</ion-app>
