.modal-content {
    padding: 16px;
  }
  
  .custom-header {
    background: #31B17D !important;
    color: white !important;
    text-align: center;
}

ion-toolbar {
  --background: #31B17D;
  color: white !important;
}

.custom-button {
  background: #31B17D !important;
  color: white !important;
  border-radius: 100px; 
}

p {
  text-align: justify;
}

.custom-button ion-button {
  --height: 40px;
  --background: #279769; 
  --color: #fff; 
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 100px; 
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  width: fit-content;
}

::ng-deep  .alert-wrapper {
  text-align: center;
}

::ng-deep  .alert-head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

::ng-deep .alert-title {
  text-align: center;
  width: 100%;
}

::ng-deep .alert-message {
  text-align: center;
  width: 100%;
}

::ng-deep .alert-button-group {
  display: flex;
  justify-content: center;
}
