<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content" *ngIf="latestTerms; else loading">
    <h1>Términos y Condiciones</h1>
    <div [innerHTML]="latestTerms.content"></div>
    <ion-item>
      <ion-label>Acepto los términos y condiciones de uso</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="termsAccepted"></ion-checkbox>
    </ion-item>
    <ion-button (click)="accept()" class="custom-button" style="--background: #31B17D; --color: white;">Aceptar</ion-button>
  </div>
  <ng-template #loading>
    <p>Cargando términos y condiciones...</p>
  </ng-template>

  <ion-alert
    [isOpen]="showAlert"
    header="Advertencia"
    message="Debes aceptar los términos y condiciones para continuar."
    [buttons]="alertButtons"
    (didDismiss)="onAlertDismiss()">
  </ion-alert>
</ion-content>
