<app-layout></app-layout>
<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/second-search"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la Estación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="container">
    <div class="row" style="padding: 10px;">
      <div class="icon-text" style="margin-left: 3px;">
        <img src="assets/icon/electrolineras.png" alt="electrolineras.png Icon" class="icon">
        <h2>E/S. {{ station.name }}</h2>
      </div>
      <div class="icon-text">
        <img style="width:25px !important; height: 40px !important;" src="assets/icon/location.png" alt="Pin Icon" class="icon">
        <p><span>Dirección:</span> {{ station.address }}, <span>Región:</span> {{ station.region }}, {{ station.commune }}</p>
      </div>
    </div>

    <div id="map" style="height: 300px;"></div>
    <ion-button class="mi-btn" expand="full" [href]="externalMapUrl" target="_blank">Cómo llegar</ion-button>

    <div class="container pb-5" style="margin-bottom: 50px; padding-bottom: 50px;">
      <div class="row">
        <h2 style="padding: 10px;">Conectores seleccionados en la estación:</h2>
        <ion-list>
          <ion-item *ngFor="let status of getConnectorStatus()">
            <ion-label>
              <p style="color: #fff; font-size: 16px; padding: 10px;" [style.background-color]="status.color">Conectores: {{ status.label }} {{ status.count }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <div *ngFor="let evse of getDetailedConnectors()">
          <ion-list>
            <ion-item *ngFor="let connector of evse.connectors">
              <ion-thumbnail slot="start">
                <img [src]="getIconPath(connector)" alt="{{ connector.standard }}">
              </ion-thumbnail>
              <ion-label>
                <h3><strong>Conector nombre:</strong> {{ connector.standard }} ({{ connector.format }})</h3>
                <p><strong>Dirección:</strong> {{ evse.directions }}</p>
                <p><strong>Nivel de piso:</strong> {{ evse.floor_level || 'N/A' }}</p>
                <p><strong>Modelo:</strong> {{ evse.model }}</p>
                <p><strong>Marca:</strong> {{ evse.brand }}</p>
                <p><strong>Permite carga simultánea:</strong> {{ evse.permite_carga_simultanea ? 'Sí' : 'No' }}</p>
                <p><strong>Máxima potencia eléctrica:</strong> {{ evse.max_electric_power }} kW</p>
                <p><strong>Voltaje:</strong> {{ connector.voltage }} V</p>
                <p><strong>Amperaje:</strong> {{ connector.amperage }} A</p>
                <p><strong>Estado:</strong> {{ getStatusLabel(connector.status) }}</p>
                <div *ngFor="let tariff of connector.tariffs">
                  <p><strong>Tarifa:</strong> {{ tariff }}</p>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
