$colors: (
   blue:       #387ef5,
   secondary:  #31B17D,
   danger:     #f53d3d,
   light:      #f4f4f4,  
   dark:       #222,
   white:      #FFF,
);

h2{
  font-weight: 700;
}

ion-list {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 450px;
  overflow-y: auto;
}

  /* Estilos personalizados para los botones */
  ion-button {
    --width: 127px;
    --height: 40px;
    --background: #279769;
    --color: #fff;
    --border-radius: 100px; 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px 20px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
  }

  .custom-button {
    --border-radius: 100px !important; /* Ajusta el valor según tus necesidades */
  }
  
  .custom-button {
    margin-top: 5px;
    text-align: -webkit-center;
   
  
    ion-button {
      --border-radius: 100px !important; 
    }
  }
  

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .icon {
    margin-right: 8px; 
    width: 33px;
    height: 35px;
  }

  h2, p {
    margin: 0; 
  }
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaciado entre íconos */
  margin-top: 5px; /* Separación del título */
}

.icon-item img {
  width: 24px; /* Tamaño más pequeño para los íconos */
  height: 24px;
}

.icon-text {
  margin-bottom: 20px; /* Espaciado entre secciones */
}