/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import 'swiper/swiper-bundle.css';
@import "../node_modules/swiper/swiper-bundle.min.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.custom-header {
    background-color: #31B17D !important;
    color: white !important;
    text-align: center;
  }

  /* Definición de la clase personalizada en global.scss */
  .my-custom-class {
    --width: 500px !important;
    --max-width: 380px;
    text-align: center;
    border-radius: 50px 50px 0px 0px !important; 
  }
  .my-custom-class .alert-head{
    text-align: center;
  }
.my-custom-class .alert-button {
  /* Estilos para los botones */
  color: #ffffff; /* Color del texto */
  background: #31B17D; /* Color de fondo */
  border-radius: 100px; /* Bordes redondeados */
}

.my-custom-class .alert-button-group {
  /* Estilos para el grupo de botones */
  justify-content: space-around; /* Espaciado entre botones */
}

.selected {
  background-color: #31B17D !important;
  color: white !important;
}

.selected .item-native {
  background-color: #31B17D !important;
  color: white !important;
}